@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body { @apply bg-background text-foreground; }


.react-grid-item.react-grid-placeholder {
  background:  hsl(var(--foreground)) none repeat scroll 0% 0% !important;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-radius: 32px;
  transition: all 500ms ease 0s !important;
  will-change: transform;
}

.rgl-custom .react-resizable-handle::after {
  position: absolute;
  right: 8px !important;          
  bottom: 8px !important;
  width: 10px;          
  height: 10px;
  border-right: 2px solid hsl(var(--primary)) !important;  
  border-bottom: 2px solid hsl(var(--primary)) !important;  
  box-shadow: 0 2px 4px rgba(0,0,0,.35) !important;
}

@media screen and (max-width: 1110px) {
  .responsive-tag {
    display: none;
  }

  .responsive-graph {
    display: none;
  }
}

@media screen and (max-width: 450) {
  .responsive-home-graph {
    display: none;
  }
}